@font-face {
    font-family: ir_sans;
    src: url("../fonts/IRANSans.ttf");
}

body {
    background-color: #f7f7f7;
}

.signup {
    direction: rtl;
    text-align: right;
    background-color: white;
    font-family: ir_sans;
    height: 100vh;
    color: #115169;
    font-size: 1.2rem;
}

.signup .container,
.signup .row {
    height: 100% !important;
}

.logo-container h2 {
    color: inherit;
    font-weight: bold;
}

.exit-btn {
    transform: rotate(180deg);
    color: black;
    position: absolute;
    top: 40px;
    left: 50px;
}

.signup-container {
    border-radius: 10px;
    box-shadow: 3px 5px 50px rgba(32, 145, 189, 0.3) !important;
    position: relative;
}

.form-group {
    margin-top: 15px;
    position: relative;
}

.form-group label {
    padding-right: 5px;
}

.form-group input {
    border-radius: 5px;
    height: 50px;
}

.signup button[type="submit"] {
    padding: 5px 15px;
    background-color: #2091bd;
    border: none;
    transition: all 0.3s;
    font-size: inherit !important;
    min-width: 100px;
}

.signup button[type="submit"]:hover {
    background-color: #56bde4;
}

.forgot-pass a {
    text-decoration: none;
    cursor: pointer;
    color: #888 !important;
}

.forgot-pass a:hover {
    color: #0d6efd !important;
}

.remember-me input {
    margin: 7px 8px;
    margin-left: 0;
}

.form-group:has(> #pass-field):hover i.show_pass {
    opacity: 1;
}

.form-group i {
    position: absolute;
    top: 48px;
    right: 15px;
}

.form-group i.show_pass {
    right: unset;
    left: 15px;
    opacity: 0;
    transition: all 0.2s;
}

.auth_error {
    background-color: #f009;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.auth_error i.fa-xmark {
    vertical-align: -2px;
    opacity: 0;
    transition: all 0.2s;
    cursor: pointer;
}

.auth_error:hover i.fa-xmark {
    opacity: 1;
}
