/* user guide styles  */


#step_guide_box {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99999;
}


#step_guide_box .step-guide {
    background-color: #2091bd;
    color: white;
    display: inline-block;
    font-size: 24px;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    padding-right: 14px;
    padding-top: 3px;
    position: absolute;
    left: 45px;
    bottom: 45px;
    overflow: hidden;
    transition: 0.3s all;
    cursor: pointer;
    opacity: 0;
}

#step_guide_box .step-guide:nth-of-type(2).active {
    bottom: 95px;
    left: 20px;
    width: 40px;
    height: 40px;
    opacity: 1;
}

#step_guide_box .step-guide:nth-of-type(3).active {
    bottom: 70px;
    left: 70px;
    width: 40px;
    height: 40px;
    opacity: 1;
}

#step_guide_box .step-guide:nth-of-type(4).active {
    bottom: 20px;
    left: 95px;
    width: 40px;
    height: 40px;
    opacity: 1;
}



#guide_cover {
    position: fixed;
    top: 100%;
    right: 100%;
    left: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    border-radius: 100%;
    transition: 0.5s all;
}

#guide_open {
    background-color: #115169;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9999;
}

#background_guide {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    backdrop-filter: blur(10px);
}

#guide_box {
    max-width: 700px;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
    min-height: 200px;
    position: absolute;
    margin: auto;
    top: 12.5%;
    right: calc(25% - 350px);
    z-index: 99999;
}

@media (max-width: 700px) {
    #guide_box {
        right: unset;
    }
}

#guide_box .guide-head {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}

#guide_box .guide-head h3 {
    color: white;
}

#guide_cover .close {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 15px 20px;
    background-color: #000;
    color: white;
    z-index: 99999;
}

#user_guide .guide-body h4 {
    padding: 20px;
    text-align: justify;
    color: white;
}

.guide-active {
    top: 0 !important;
    right: 0 !important;
    bottom: -100% !important;
    left: -100% !important;
    border-radius: 0 !important;
}

.fade-out-right {
    animation: fadeOutRight 0.4s forwards;
}

.fade-in-left {
    animation: fadeInLeft 0.4s forwards;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(200px);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}